@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
    width: 100%;
}

a {
  
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  display: flex;
  height: 80px;
  width: 100%;
  background-color: var(--light-grayish-blue);
  align-items: center;
  z-index: 10;
}

.logo {
  margin-left: 15px;
}

.hamburgerIcon {
  margin-left: auto;
  align-self: center;
  margin-right: 30px;
}


.mainContainer {
  display: flex;
  flex-direction: column;
}

.introbg {
  position: relative;
  
}

.introMockup {
  position: absolute;
  top: 0;
	bottom:0;
	left: 0;
	right:0;
  z-index: 1;
  
}

.introInfo {
  display: flex;
  flex-direction: column;
}

.introInfo > h2, p {
  text-align: center;
}

.introInfo > h2 {
  color: var(--dark-blue);
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 2.4rem;
}

.introInfo > p {
  color: var(--grayish-blue);
  line-height: 1.5rem;
  
}

.introInfo > button {
  background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  color: white;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 80px;
}

.mainWrapper {
  background: var(--very-light-gray);
}

.mainInfo > h2 {
  color: var(--dark-blue);
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.mainWrapper  p {
  color: var(--grayish-blue);
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

.mainCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: 400;
}

.articleWrapper {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
}

.articleWrapper p {
  text-align: left;
  color: var(--grayish-blue);
}

.articleInfo {
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  
}

.articleImage {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.articleAuthor {
  font-size: 0.8rem;
}

.articleContainer h2 {
  color: var(--dark-blue);
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-top: 70px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--dark-blue);
}

.footerIcon {
  margin-top: 40px;
  color: white;
}

.iconWrapper {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  color: white;
  text-align: center;
  gap: 15px;
}

.footerContainer button {
  color: white;
  background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
  margin-top: 40px;
  height: 50px;
  width: 175px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 700;
}

.footerContainer p {
  color: var(--grayish-blue);
  margin-top: 30px;
}

.navContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(255,255,255,0.2) 0%, hsl(233, 31%, 25%) 100%);
  margin-top: 80px;
  
  
}

.navContainer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 26px;
  height: 275px;
  width: 100%;
  background: white;
  margin: 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--dark-blue);
}

button:active {
  background: linear-gradient(90deg, rgb(131, 219, 154) 0%, rgb(121, 197, 216) 100%);
}

.desktopNavContainer {
  display: flex;
  width: 100%;
}

.desktopNavContainer button {
  background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  color: white;
  align-self: center;
  margin-left: auto;
  margin-right: 100px;
}

.desktopNavContainer nav {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4%;
  color: var(--grayish-blue);
}

.introContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
  
  .logo {
    margin-left: 100px;
  }

  .introContainer {
    flex-direction: row-reverse;
    align-items: flex-end;
    overflow: hidden;
  }

  /* .mockupWrapper {
    overflow: hidden;
    position: relative;
    
  } */

  .introWrapper {
    position: relative;
  }

  .introMockup {
    top: 24px;
    
    left: 165px;
    
    
  }
}



